


body{
    background: #007bff;
}

.start_btn,
.info_box
.quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*This will be the Start Quiz Button Styling*/
/* Made sure to include a cursor pointer for quiz*/
/*Made color blue might change to purple for appealing presentation*/

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.info_box{
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
}

/*Made to be included and aligned in the center*/

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1 px solid lightgrey;
}

.info_box .buttons .button{
    margin: 0 5px;
    height: 40 px;
    width: 100px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.buttons button.restart{
    color: white;
    border-color: #007bff;
    background: #007bff;

}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    border-color: #007bff;
}


.quiz_box{
    width: 550px;
    background: white;
    border-radius: 5px;
}


.quiz_box header{


    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}